<div class="card" style="width: 18rem;">
  <a href="{{
    path(
      'produit',
      {
        slug: produit.slug
      }
    )
    }}">
    <img src="/uploads/{{ produit.ullistration }}"
      class="card-img-top"
      alt="{{ produit.nom }}" />
  </a>
  <div class="card-body">
    <h5 class="card-title">
      {{ produit.nom }}
    </h5>
    <span class="sousTitre">{{ produit.sousTitre }}</span>
    <span class="sousTitre">Taille: {{ produit.size }}</span>
    <span class="prix">Prix: {{ (produit.prix / 100)|number_format(2) }}€</span>
  </div>
</div>
